<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="footer-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>ADRES</h4>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="padding-top:10px;">SOSYAL MEDİA</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href=" https://wa.me/+905525608519" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              {% comment %} <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> {% endcomment %}
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>İLETİŞİM</h4>
            <strong>Cep:</strong> +1 5589 55488 55<br>
            <strong>E-posta:</strong> info@example.com<br>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-container">
      <div class="copyright">
        &copy; Copyright <strong><span>Meliora</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://wa.me/+905525608519">Mohammadreza Aghaei</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->