{% extends 'main/base.html' %}
{% block content %}
<div class="container" style="margin-top: 250px; margin-bottom: 150px;
 text-align: center;
 border:2px solid  #f7e655;
 border-radius:10px;
 width:400px;
 padding:20px;
 background:#862d85;
 color:black;">
 
    <h1 style="font-size: 24px; font-weight: bold;">Parola değiştirildi</h1>
    <p style="font-size: 16px; margin-top: 20px; font-weight:800;">Parolanız başarıyla değiştirildi.</p>
    <p style="font-size: 16px; margin-top: 10px; font-weight:800;">Şimdi <a href="{% url 'login_register' %}" style="color: #f7e655; text-decoration: none;">GIRIŞ</a> yapabilirsiniz</p>
</div>
{% endblock %}