{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <div class="sent" style="margin-top: 250px; 
    margin-bottom: 200px; text-align: center; border:2px solid #f7e655; border-radius:20px; padding:10px; background:#862d85; color:black">
        <span style="font-size: 24px; font-weight: bold;">Parola Sıfırlama Gönderildi</span>
        <p style="font-size: 16px; font-weight:800; margin-top: 20px;">
            Girdiğiniz e-posta adresiyle bir hesap mevcutsa, parolanızı ayarlama talimatlarını size e-postayla gönderdik. Bunları kısa süre içinde almalısınız. E-posta almazsanız lütfen kayıt olduğunuz adresi girdiğinizden emin olun ve spam klasörünüzü kontrol edin.
        </p>
    </div>
    
</div>
{% endblock %}