{% extends 'main/base.html' %}
{% block content %}

<div class="container" style="width: 300px; margin: 0 auto; padding: 20px;
border: 1px solid #862d85;
border-radius: 5px;
margin-top: 150px;
margin-bottom: 50px;
background-color: black;
color: white;">

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2 style="color:#f7e655;">PAROLA YENILEME</h2>
<form class="form" method="post" id="form" style="display: flex; flex-direction: column;">
    {% csrf_token %}
    <label style="margin-bottom:-30px;" for="email">E-posta:</label>
    <input type="email" id="email" name="email" required style="padding: 5px; border:4px solid #f7e655;  margin-bottom: 10px;">
    <button type="submit" style="padding: -10px 10px 0 10px; background-color: #862d85; color: white; border: 1px solid #f7e655;
    border-radius:30px; cursor: pointer; width: 30%; height:30px; margin: 0 auto;">Onayla</button>
</form>

</div>


{% endblock %}
